* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
#nav-bar {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #eeeeee;
}
#nav-list {
    /* border: 1px solid black; */
    list-style: none;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
#header-img {
    width: 300px;
}
#nav-features {
    width: 35%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
#input {
    margin-top: 6%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: black;
    text-decoration: none;
}
#input {
    height: auto;
    padding: 10px;
}
#input-text {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.email-input {
    width: 300px;
    padding: 5px;
    margin: 10px;
}
.submit-button {
    border: 0;
    width: 50%;
    margin-top: 5px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    background-color: #f1c40f;
}

#content {
    /* border: 1px solid black; */
    font-family: 'Lato';
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.features {
    /* border: 1px solid black; */
    display: flex;
    padding: 25px;
    justify-content: left;
}
.icons {
    /* border: 1px solid black; */
    width: 20px;
    color: #ff8c00;
    display: flex;
    transform: scale(3);
    align-items: center;
    z-index: -1;
}
.feature-header {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 32px;
}
.feature-text {
    margin-left: 10%;
    font-size: 16px;
    line-height: 24px;
}
#video-div {
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
#video {
    width: 500px;
    height: 300px;
}
#pricing {
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.pricing-ele {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 32%;
    height: 320px;
}
.pricing-header {
    width: 100%;
    background-color: #dddddd;
    font-size: 16px;
    padding: 15px;
}
.price {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 20px;
}
ol {
    margin: auto;
    width: 90%;
    height: 70%;
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
li {
    font-family: 'Lato';
    margin: 7px;
}
.pricing-body {
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.select {
    border: 1px solid yellow;
    width: 120px;
    border: 0;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f1c40f;
}
#footer {
    margin-top: 50px;
    background-color: #dddddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
a {
    margin: 8px;
}
#copyright {
    font-size: 14px;
    margin-top: 7px;
    color: #444444;
}

@media (max-width: 490px) {
    body {
        margin: auto;
    }
    #nav-bar {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nav-list {
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #input {
        margin-top: 130px;
        padding: 25px;
        padding-bottom: 0%;
        text-align: center;
    }
    #content {
        /* border: 1px solid black; */
        width: 95%;
        margin: auto;
        padding: 5%;
        padding-bottom: 0%;
    }
    #nav-features {
        margin: 0%;
        /* border: 1px solid black; */
        display: flex;
        width: auto;
        padding: 10px;
    }
    .icons {
        width: 15px;
        transform: scale(2.2);
    }
    .features {
        padding: 10px;
    }
    #video {
        width: 19em;
        height: 10em;
    }
    #pricing {
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    .pricing-ele {
        width: auto;
        margin-top: 20px;
    }
}